Repository Netflix/pollyjs, pull requests merged in 2019-07, with the labels that each got.

#227 feat: Implement expiryStrategy
  docs/configuration.md
  packages/@pollyjs/adapter/src/index.js
  packages/@pollyjs/core/src/defaults/config.js
  packages/@pollyjs/core/src/utils/merge-configs.js
  packages/@pollyjs/utils/src/constants/expiry-strategies.js
  packages/@pollyjs/utils/src/index.js
  tests/integration/adapter-tests.js
Labels: :package: adapter, enhancement ✨

#220 Mapbox GL fixes: handle `Request` objects as URLs (and array buffer responses discussion)
  packages/@pollyjs/adapter-fetch/src/index.js
  packages/@pollyjs/adapter-fetch/tests/integration/adapter-test.js
Labels: :package: adapter-fetch, bug 🐞

#234 feat: PollyError and improved adapter error handling
  packages/@pollyjs/adapter-fetch/src/index.js
  packages/@pollyjs/adapter-fetch/tests/integration/server-test.js
  packages/@pollyjs/adapter-node-http/src/index.js
  packages/@pollyjs/adapter-puppeteer/tests/unit/adapter-test.js
  packages/@pollyjs/adapter/src/index.js
  packages/@pollyjs/core/src/-private/event-emitter.js
  packages/@pollyjs/core/src/-private/logger.js
  packages/@pollyjs/core/src/test-helpers/lib.js
  packages/@pollyjs/core/tests/unit/-private/container-test.js
  packages/@pollyjs/core/tests/unit/-private/event-emitter-test.js
  packages/@pollyjs/core/tests/unit/-private/event-test.js
  packages/@pollyjs/core/tests/unit/-private/response-test.js
  packages/@pollyjs/core/tests/unit/polly-test.js
  packages/@pollyjs/utils/src/index.js
  packages/@pollyjs/utils/src/utils/assert.js
  packages/@pollyjs/utils/src/utils/polly-error.js
  packages/@pollyjs/utils/tests/unit/utils/assert-test.js
  packages/@pollyjs/utils/tests/unit/utils/polly-error-test.js
Labels: bug 🐞, enhancement ✨
