Repository Netflix/pollyjs, pull requests merged in 2019-01, with the labels that each got.

#162 fix(adapter-node-http): Pause socket on original request
  packages/@pollyjs/adapter-node-http/src/-private/transport-wrapper.js
Labels: bug, pkg:adapter-node-http

#154 Simplify adapter implementation
  docs/adapters/custom.md
  packages/@pollyjs/adapter-fetch/src/index.js
  packages/@pollyjs/adapter-node-http/src/index.js
  packages/@pollyjs/adapter-puppeteer/src/index.js
  packages/@pollyjs/adapter-xhr/src/index.js
  packages/@pollyjs/adapter/src/index.js
Labels: pkg:adapter

#166 feat(adapter-node-http): Use `nock` under the hood instead of custom implementation
  docs/adapters/node-http.md
  docs/server/api.md
  packages/@pollyjs/adapter-node-http/README.md
  packages/@pollyjs/adapter-node-http/package.json
  packages/@pollyjs/adapter-node-http/rollup.config.js
  packages/@pollyjs/adapter-node-http/rollup.config.test.js
  packages/@pollyjs/adapter-node-http/src/-private/http-wrapper.js
  packages/@pollyjs/adapter-node-http/src/-private/transport-wrapper.js
  packages/@pollyjs/adapter-node-http/src/index.js
  packages/@pollyjs/adapter-node-http/src/utils/get-url-from-options.js
  packages/@pollyjs/adapter-node-http/src/utils/is-binary-buffer.js
  packages/@pollyjs/adapter-node-http/src/utils/is-content-encoded.js
  packages/@pollyjs/adapter-node-http/src/utils/merge-chunks.js
  packages/@pollyjs/adapter-node-http/src/utils/parse-request-arguments.js
  packages/@pollyjs/adapter-node-http/tests/integration/adapter-test.js
  packages/@pollyjs/core/src/server/index.js
  packages/@pollyjs/core/tests/unit/server/server-test.js
  packages/@pollyjs/utils/src/constants/http-methods.js
  packages/@pollyjs/utils/src/index.js
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter-node-fetch_3496513759/should-be-able-to-abort-from-an-intercept_68559697/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter-node-fetch_3496513759/should-call-all-the-life-cycle-events_2199659288/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter-node-fetch_3496513759/should-handle-a-compressed-response_479521015/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter-node-fetch_3496513759/should-properly-handle-204-status-code-response_1592697261/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter-node-fetch_3496513759/should-respect-request-order_2914185093/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-be-able-to-abort-from-an-intercept_68559697/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-be-able-to-download-binary-content_2339860906/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-call-all-the-life-cycle-events_2199659288/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-handle-a-compressed-response_479521015/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-properly-handle-204-status-code-response_1592697261/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/http_3378792613/should-respect-request-order_2914185093/recording.har
  tests/recordings/-pollyjs_2160168770/adapter-node-http_1501306138/Integration-Node-Http-Adapter_1543864754/https_3739134178/should-be-able-to-download-binary-content_2339860906/recording.har
  yarn.lock
Labels: pkg:adapter-node-http

#173 fix(adapter-xhr): Xhr.send should not be an async method
  packages/@pollyjs/adapter-xhr/src/index.js
Labels: pkg:adapter-xhr

#177 refactor(adapter): Add `stringifyRequest` utility method
  packages/@pollyjs/adapter/src/index.js
  packages/@pollyjs/adapter/src/utils/stringify-request.js
Labels: pkg:adapter
